<form autocomplete="off" [formGroup]="Form" >
    <div class="row">
        <div class="col-12">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" name="buscar" formControlName="buscar">
                <button class="btn btn-primary" type="button" id="button-addon2" (click)="buscar(Form)"><i class="fas fa-search"></i></button>
              </div>
        </div>
        <div class="col-12" *ngIf="buscador">
            <button mat-mini-fab color="warn" class="cerrarg"><i class="fas fa-times" (click)="cerrar()"></i></button>
            <br><br>
            <app-cartelera [cartelera]="peliculasB" [info]="4" [buscar]="tituloB"></app-cartelera>
        </div>
    </div>
</form>

<div class="row" *ngIf="!buscador">
    <h1>Peliculas recientes</h1>
    <app-cartelera [cartelera]="peliculas" [info]="1"></app-cartelera>
</div>





